<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.survey.mapper.SurveyMapper">
	
	<select id="selectSurveyList" resultType="Map">
		SELECT 
			survey_idx,
			title,
			content,
			DATE_FORMAT(s_date, '%Y-%m-%d') as s_date,
			DATE_FORMAT(e_date, '%Y-%m-%d') as e_date,
			survey_type,
			create_user,
			DATE_FORMAT(create_date, '%Y-%m-%d') as create_date	
		FROM daul.survey_main
		WHERE del_chk = 'N'
	</select>
	
	<select id="selectSurveyIdx" resultType="String">
		SELECT CONCAT('SV-',LPAD(count(*)+1,'6','0')) as 'survey_idx'
		FROM survey_main 
	</select>
	
	<insert id = "registSurvey">
		INSERT INTO survey_main
		(
			survey_idx,
			title,
			content,
			survey_type,
			s_date,
			e_date,
			create_user,
			create_date,
			del_chk
		)
		VALUES
		(
			#{survey_idx},
			#{title},
			#{content},
			#{survey_type},
			#{s_date},
			#{e_date},
			#{create_user},
			sysdate(),
			'N'
		)
	
	</insert>
		
	<insert id = "insertFile" parameterType = "hashmap">
		INSERT INTO survey_attach
        (
            survey_idx,
            org_file_name,
            save_file_name,
            file_size,
            create_user,
            del_chk,
            create_date,
            attach_type
        )
        VALUES
        (
            #{ idx},
            #{ org_file_name},
            #{ save_file_name},
            #{ file_size},
            #{ create_user},
            'N',
            SYSDATE(),
            'REP'            
        )
	</insert>
	
	<insert id = "registQuestion" parameterType = "hashmap">
		INSERT INTO survey_question
		(
			question_idx,
			survey_idx,
			question_content
		)
		VALUES
		(
			#{question_idx},
			#{survey_idx},
			#{question_content}
		)
		
	</insert>
	
	<select id="selectSurveyDetail" resultType="egovframework.com.survey.vo.SurveyVo">
		SELECT
			survey_idx,
			title,
			content,
			DATE_FORMAT(s_date, '%Y-%m-%d') as s_date,
			DATE_FORMAT(e_date, '%Y-%m-%d') as e_date,
			survey_type
		FROM daul.survey_main
		WHERE survey_idx = #{survey_idx}
	
	</select>
	
	<select id="selectSurveyQuestionList" resultType="Map">
		SELECT 
			question_idx,
			question_content
		FROM daul.survey_question
		WHERE survey_idx = #{survey_idx}
	</select>
	
	
</mapper>