<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.contest.mapper.ContestMapper">
	
	<select id="selectContestList" resultType="egovframework.com.contest.vo.ContestVo">
		SELECT 
			   admin_contest_idx,
			   create_user,
			   title,
			   content,
			   DATE_FORMAT(contest_s_date, '%Y-%m-%d') as contest_s_date,
			   DATE_FORMAT(contest_e_date, '%Y-%m-%d') as contest_e_date,
			   DATE_FORMAT(submit_s_date, '%Y-%m-%d') as submit_s_date,
			   DATE_FORMAT(submit_e_date, '%Y-%m-%d') as submit_e_date,
			   create_date
		  FROM daul.contest_admin
		 WHERE del_chk != 'Y'
	</select>

	<select id="selectAdminContestIdx" resultType="String">
		SELECT CONCAT('AC-',LPAD(count(*)+1,'6','0')) as 'admin_contest_idx'
		FROM daul.contest_admin
	</select>
	<insert id="registContest">
		INSERT INTO daul.contest_admin
			(
				admin_contest_idx,
				title,
				content,
				contest_s_date,
				contest_e_date,
				submit_s_date,
				submit_e_date,
				create_user,
				create_date,
				del_chk
			)
			VALUES
			(
				#{admin_contest_idx},
				#{title},
				#{content},
			    #{contest_s_date},
			    #{contest_e_date},
			    #{submit_s_date},
			    #{submit_e_date},
				#{create_user},
				SYSDATE(),
				'N'
			)
	</insert>
	
	<insert id="insertFile">
		INSERT INTO contest_admin_attach
			(
			   admin_contest_idx
		     , org_file_name
		     , save_file_name
		     , file_size
		     , create_user
		     , del_chk
		     , create_date
		     , attach_type
			)
		VALUES
			(
			   #{idx}
		     , #{org_file_name}
		     , #{save_file_name}
		     , #{file_size}
		     , #{create_user}
		     , 'N'
		     , SYSDATE()
		     , #{attach_type}
			)
	</insert>
	<select id = "selectContest" resultType="egovframework.com.contest.vo.ContestVo">
		SELECT
			admin_contest_idx,
			title,
			content,
			contest_s_date,
			contest_e_date,
			submit_s_date,
			submit_e_date,
			create_user,
			create_date
		FROM daul.contest_admin
		WHERE admin_contest_idx = #{admin_contest_idx}
			
	</select>
	
	<select id = "selectContestFile" resultType = "Map">
		SELECT 
			admin_contest_idx,
			org_file_name,
			save_file_name,
			attach_type,
			ROUND(file_size/1024,1) AS file_size
		FROM daul.contest_admin_attach
		WHERE admin_contest_idx = #{admin_contest_idx}
		  AND del_chk = 'N'
	</select>
	
	<update id="deleteFile">
		UPDATE daul.contest_admin_attach
		   SET del_chk = 'Y'
		 WHERE save_file_name = #{save_file_name}
		   AND del_chk != 'Y'
	</update>
	
	<update id="updateContest">
		UPDATE daul.contest_admin
		   SET update_user = #{update_user}
		     , update_date = SYSDATE()
		     <if test="title != null and title != ''">
		     , title = #{title}
		     </if>
		     <if test="content != null and content != ''">
		     , content = #{content}
		     </if>
		     , contest_s_date = #{contest_s_date}
		     , contest_e_date = #{contest_e_date}
		     , submit_s_date = #{submit_s_date}
		     , submit_e_date = #{submit_e_date}
		 WHERE admin_contest_idx = #{admin_contest_idx}
	</update>
	
	<select id="selectContestOpinionList" resultType="egovframework.com.contest.vo.ContestOpinionVo">
		SELECT user_contest_idx,
			   title,
		       content,
		       create_user,
		       DATE_FORMAT(create_date, '%Y-%m-%d') as create_date
		FROM daul.contest_user
		WHERE admin_contest_idx = #{admin_contest_idx}
		  AND del_chk = 'N'
	
	</select>
	
		<select id="selectDownloadFile" resultType="egovframework.com.cmmn.util.FileVo">
		SELECT 
			ORG_FILE_NAME,
			SAVE_FILE_NAME
		FROM daul.contest_admin_attach
		WHERE save_file_name  = #{idx}
	</select>
	
	
</mapper>