<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper 
	namespace="egovframework.com.qna.mapper.QnaMapper">

	<select id="selectQnaList" resultType="egovframework.com.qna.vo.QnaVo">
	SELECT * 
	  FROM (	
		SELECT  @rownum:=@rownum+1 						AS num,
				qna_idx,
				question,
				content,
				ref,
				view_count,
				create_user,
				parent_qna_idx,
				DATE_FORMAT(create_date, '%Y-%m-%d') as create_date,
				del_chk,
				(select auth_type from `user` where user_id = create_user ) as auth_type 
				
			FROM daul.daul_qna, (SELECT @rownum:=0) TMP
			WHERE del_chk = 'N'
			<if test="search_type == 'title'">
				AND question like concat('%',#{search},'%')
			</if>
	 		<if test="search_type == 'content'">
				AND content like concat('%',#{search},'%')
			</if>
	 		<if test="search_type == 'create_user'">
				AND create_user like concat('%',#{search},'%')
			</if>
		 	<if test="search_s_date != null and search_s_date != ''">
		 		<![CDATA[
		    	AND create_date >= date_format(concat(#{search_s_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
		    	]]>
		    </if>
		    <if test="search_e_date != null and search_e_date != ''">
		 		<![CDATA[
		    	AND create_date <= date_format(concat(#{search_e_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
		    	]]>
		    </if>
			ORDER BY ref ASC, indent DESC
		) sub
	ORDER BY sub.num DESC;
	</select>
	
	<select id = "selectQnaReplyIdx" resultType="String">
		SELECT CONCAT(#{qna_idx},'-',LPAD(count(*)+1,'2','0')) as 'qna_idx'
		FROM daul_qna 
		WHERE ref = #{qna_idx}
	</select>
	
	<insert id = "insertQnaReply">
		INSERT INTO daul_qna
		(
			qna_idx,
			question,
			content,
			parent_qna_idx,
			ref,
			indent,
			create_user,
			create_date
		)
		VALUES
		(
			#{qna_idx},
			#{question},
			#{content},
			#{ref},
			#{ref},
			1,
			#{create_user},
			sysdate()
			
		) 
	</insert>
	
	<update id = "updateQnaReply">
		UPDATE
			daul_qna
		SET 
			question = #{question},
			content = #{content},
			update_user = #{update_user},
			update_date = sysdate()
		WHERE 
			qna_idx = #{qna_idx}
	</update>
	
	<update id = "deleteQnaReply">
		UPDATE
			daul_qna
		SET
			del_chk = 'Y'
		WHERE 
			qna_idx = #{qna_idx}
	</update>
	
	<update id = "deleteQnaAll">
		UPDATE
			daul_qna
		SET
			del_chk = 'Y'
		WHERE 
			ref= #{qna_idx}
	</update>
	
	<update id = "increaseViewCount">
		UPDATE daul.daul_qna
		   SET view_count = view_count + 1
		 WHERE qna_idx = #{qna_idx}
	</update>
	
	
</mapper>