<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.board.mapper.BoardMapper">
	
	<select id="selectBoardList" resultType="egovframework.com.board.vo.BoardVo">	
		SELECT * 
		  FROM (
			SELECT
				@rownum:=@rownum+1 as num ,
				a.notice_idx, 
				a.title, 
				a.content, 
				a.notice_type,
				a.view_count,
				a.create_user, 
				DATE_FORMAT(a.create_date, '%Y-%m-%d') as create_date,
				(
					SELECT count(*) 
					  FROM daul_notice_attach b 
					 WHERE b.notice_idx = a.notice_idx 
					   AND del_chk ='N'
				) as attach_count,
				a.del_chk
			FROM daul.daul_notice a, (SELECT @rownum:=0) TMP
			WHERE a.del_chk = 'N'
			<if test="search_type == 'title'">
				AND a.title like concat('%',#{search},'%')
			</if>
	 		<if test="search_type == 'content'">
				AND a.content like concat('%',#{search},'%')
			</if>
	 		<if test="search_type == 'create_user'">
				AND a.create_user like concat('%',#{search},'%')
			</if>
		 	<if test="search_s_date != null and search_s_date != ''">
		 		<![CDATA[
		    	AND create_date >= date_format(concat(#{search_s_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s')
		    	]]>
		    </if>
		    <if test="search_e_date != null and search_e_date != ''">
		 		<![CDATA[
		    	AND create_date <= date_format(concat(#{search_e_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s')
		    	]]>
		    </if>
			ORDER BY create_date ASC
		) sub
	ORDER BY sub.num DESC;
	</select>
		
	<select id="selectBoardFile" resultType="Map">
		SELECT notice_idx
			 , org_file_name
			 , save_file_name
			 , ROUND(file_size/1024,1) AS file_size
			 , create_user
			 , del_chk
			 , attach_type
		  FROM daul.daul_notice_attach
		 WHERE notice_idx  = #{notice_idx}
		   AND del_chk = 'N'
	</select>
		
	<select id="selectNoticeIdx" resultType="String">
	SELECT CONCAT('NT-',DATE_FORMAT(sysdate(),'%Y%m%d'),'-',LPAD(count(*)+1,'3','0')) as 'notice_idx' 
	FROM  daul_notice
	WHERE DATE_FORMAT(create_date,'%Y%m%d') = DATE_FORMAT(SYSDATE() ,'%Y%m%d')
	</select>
	
	<select id="selectBoard" resultType="egovframework.com.board.vo.BoardVo">
		SELECT 
			notice_idx,
			title,
			content,
			create_user
		FROM daul.daul_notice  
		WHERE notice_idx  = #{notice_idx}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO daul_notice (notice_idx,title, content,notice_type ,create_user,create_date, del_chk)
		values
		(#{notice_idx},#{title},#{content},'main' ,#{create_user},now(),'N') 
	</insert>
	
	<update id = "updateNotice">
		UPDATE daul.daul_notice
		   SET update_user = #{update_user},
		       update_date = SYSDATE(),
		       title = #{title},
		       content = #{content}
		 WHERE notice_idx = #{notice_idx} 
	
	</update>
	
	<insert id = "insertFile2" >
		INSERT INTO tb_file
        (
            BOARD_IDX,
            ORG_FILE_NAME,
            SAVE_FILE_NAME,
            FILE_SIZE,
            CREA_ID,
            CREA_DATE,
            UPDATE_DATE
        )
        VALUES
        (
            #{ IDX},
            #{ ORG_FILE_NAME},
            #{ SAVE_FILE_NAME},
            #{ FILE_SIZE},
            #{ CREATE_USER},
            SYSDATE(),
            SYSDATE()
        )
	</insert>
	
	<select id="selectDownloadFile" resultType="egovframework.com.cmmn.util.FileVo">
		SELECT 
			ORG_FILE_NAME,
			SAVE_FILE_NAME
		FROM daul.daul_notice_attach
		WHERE save_file_name  = #{idx}
	</select>
	
	<insert id = "insertFile">
		INSERT INTO daul_notice_attach
        (
            notice_idx,
            org_file_name,
            save_file_name,
            file_size,
            create_user,
            del_chk,
            create_date,
            attach_type
        )
        VALUES
        (
            #{ idx},
            #{ org_file_name},
            #{ save_file_name},
            #{ file_size},
            #{ create_user},
            'N',
            SYSDATE(),
            #{ attach_type}           
        )
	</insert>
	
	<update id="deleteFile">
		UPDATE daul.daul_notice_attach
		   SET del_chk = 'Y'
		 WHERE save_file_name = #{save_file_name}
		   AND del_chk != 'Y'
	</update>
	 
		
	<update id="deleteNotice">
		UPDATE daul.daul_notice
		   SET del_chk = 'Y'
		 WHERE notice_idx = #{notice_idx}
		   AND del_chk != 'Y'
	</update>
	
		<update id = "increaseViewCount">
		UPDATE daul.daul_notice
		   SET view_count = view_count + 1
		 WHERE notice_idx = #{notice_idx}
	</update>
</mapper>