<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.board.mapper.BoardMapper">
	
	<select id="selectBoardList" resultType="Map">	
		SELECT 
			notice_idx, 
			title, 
			content, 
			notice_type,
			view_count,
			create_user, 
			DATE_FORMAT(create_date, '%Y-%m-%d') as create_date,
			del_chk
		FROM daul.daul_notice
		ORDER BY notice_idx desc
	</select>
		
	<select id="selectBoardFile" resultType="Map">
		SELECT
		 	notice_idx,
			org_file_name,
			ROUND(file_size/1024,1) AS file_size
		FROM daul.daul_notice_attach
		WHERE notice_idx  = #{notice_idx}
		  AND del_chk = 'N'
	</select>
		
	<select id="selectNoticeIdx" resultType="String">
		SELECT CONCAT('NT-',LPAD(count(*)+1,'7','0')) as 'board_idx'
		FROM board
	</select>
	
	<select id="selectBoard" resultType="egovframework.com.board.vo.BoardVo">
		SELECT 
			notice_idx,
			title,
			content,
			create_user
		FROM daul.daul_notice  
		WHERE notice_idx  = #{notice_idx}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO daul_notice (notice_idx,title, content,notice_type ,create_user,create_date, del_chk)
		values
		(#{notice_idx},#{title},#{content},'main' ,#{create_user},now(),'N') 
	</insert>
	
	<insert id = "insertFile2" >
		INSERT INTO tb_file
        (
            BOARD_IDX,
            ORG_FILE_NAME,
            SAVE_FILE_NAME,
            FILE_SIZE,
            CREA_ID,
            CREA_DATE,
            UPDATE_DATE
        )
        VALUES
        (
            #{ IDX},
            #{ ORG_FILE_NAME},
            #{ SAVE_FILE_NAME},
            #{ FILE_SIZE},
            #{ CREATE_USER},
            SYSDATE(),
            SYSDATE()
        )
	</insert>
	
	<select id="selectDownloadFile" resultType="egovframework.com.cmmn.util.FileVo">
		SELECT 
			ORG_FILE_NAME,
			SAVE_FILE_NAME
		FROM daul.daul_notice_attach
		WHERE notice_idx  = #{idx}
	</select>
	
	<insert id = "insertFile">
		INSERT INTO daul_notice_attach
        (
            notice_idx,
            org_file_name,
            save_file_name,
            file_size,
            create_user,
            del_chk,
            create_date,
            attach_type
        )
        VALUES
        (
            #{ idx},
            #{ org_file_name},
            #{ save_file_name},
            #{ file_size},
            #{ create_user},
            'N',
            SYSDATE(),
            #{ attach_type}           
        )
	</insert>
	
</mapper>