<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.suggestion.mapper.SuggestionMapper">
	
	<select id="selectSuggestionIdx" resultType="String">
		SELECT CONCAT('SG-',LPAD(count(*)+1,'6','0')) as 'suggestion_idx'
		FROM suggestion_main 
	</select>
	
	<insert id="registSuggestion">
		INSERT INTO daul.suggestion_main
		     (
		       suggestion_idx
		     , title
		     , content
		     , create_user
		     , create_date
		     , del_chk
		     )
		VALUES 
			 (
			   #{suggestion_idx}
		     , #{title}
		     , #{content}
		     , #{create_user}
		     , SYSDATE()
		     , 'N'
			 )
	</insert>
	
	<insert id="insertFile">
		INSERT INTO suggestion_attach
		     (
		       suggestion_idx
		     , org_file_name
		     , save_file_name
		     , file_size
		     , create_user
		     , del_chk
		     , create_date
		     , attach_type
		     )
		VALUES
		     (
		       #{idx}
		     , #{org_file_name}
		     , #{save_file_name}
		     , #{file_size}
		     , #{create_user}
		     , 'N'
		     , SYSDATE()
		     , #{attach_type}
		     )
	</insert>
	
	<select id="selectSuggestionList" resultType="egovframework.com.suggestion.vo.SuggestionVo">
		SELECT *
		  FROM daul.suggestion_main
		 WHERE del_chk != 'Y'
	</select>
	
	<select id="selectSuggestion" resultType="egovframework.com.suggestion.vo.SuggestionVo">
		SELECT *
		  FROM daul.suggestion_main
		 WHERE del_chk != 'Y'
		   AND suggestion_idx = #{suggestion_idx}
	</select>
	
	<select id="selectSuggestionFile" resultType="hashmap">
		SELECT *
		  FROM daul.suggestion_attach
		 WHERE del_chk != 'Y'
		   AND suggestion_idx = #{idx}
		   <if test="attach_type != null and attach_type != ''">
		   AND attach_type = #{attach_type}
		   </if>
	</select>
	
	<update id="deleteFile">
		UPDATE daul.suggestion_attach
		   SET del_chk = 'Y'
		 WHERE suggestion_idx = #{idx}
		   AND del_chk != 'Y'
		   <if test="attach_type != null and attach_type != ''">
		   AND attach_type = #{attach_type}
		   </if>
	</update>
	
	<update id="updateSuggestion">
		UPDATE daul.suggestion_main
		   SET update_user = #{update_user}
		     , update_date = SYSDATE()
		     <if test="title != null and title != ''">
		     , title = #{title}
		     </if>
		     <if test="content != null and content != ''">
		     , content = #{content}
		     </if>
		 WHERE suggestion_idx = #{suggestion_idx}
	</update>
	
	<update id="deleteSuggestion">
		UPDATE daul.suggestion_main
		   SET del_chk = 'Y'
		     , update_user = #{update_user}
		     , update_date = SYSDATE()
		 WHERE suggestion_idx = #{suggestion_idx}
	</update>
</mapper>