<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.com.notification.mapper.NotificationMapper">

	<select id="selectNotificationList" resultType="egovframework.com.notification.vo.NotificationVo">
		SELECT nt.*
		     , ac.action_name 
		  FROM daul.notification_talk nt
		  LEFT JOIN daul.action_code ac ON ac.action_idx = nt.action_id
		 ORDER BY nt.idx
	</select>
	
	<update id="updateNotification">
		UPDATE daul.notification_talk
		   SET on_off = #{on_off}
		     , template_id = #{template_id}
		 WHERE idx = #{idx}
	</update>
</mapper>