<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.login.mapper.LoginMapper">
	
	<select id="selectUser" resultType="egovframework.com.user.vo.UserVo">
		SELECT user_id
		     , name
		     , pw
		     , email
		     , phone
		     , channel
		     , reg_date
		     , last_login_date
		     , email_chk
		     , talk_chk
		     , sms_chk
		     , auth_type
		  FROM daul.user
		 WHERE user_id = #{user_id}
	</select>
</mapper>